name: Homebrew Formulae CI
on: [pull_request]
jobs:
  build:
    name: Run brew test-bot
    # This job runs on Linux
    runs-on: macos-latest
    steps:
      - name: Checkout pulsar repo
        uses: actions/checkout@v2

      - name: Run brew test-bot
        run: |
          set -e
          brew upgrade --cask vagrant
          ls /Applications
          sudo xcode-select --switch /Applications/Xcode.app/Contents/Developer
          brew update
          HOMEBREW_TAP_DIR="/usr/local/Homebrew/Library/Taps/streamnative/homebrew-streamnative"
          sudo mkdir -p "${HOMEBREW_TAP_DIR}"
          sudo rm -rf "${HOMEBREW_TAP_DIR}"
          sudo ln -s "${PWD}" "${HOMEBREW_TAP_DIR}"
          brew test-bot
